name: Build Installer

on:
  push:
	branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
	runs-on: windows-latest

	steps:
	# 1. Скачиваем файлы репозитория
	- name: Checkout code
	  uses: actions/checkout@v4

	# 2. Настраиваем Python
	- name: Set up Python
	  uses: actions/setup-python@v5
	  with:
		python-version: '3.11'

	# 3. Устанавливаем библиотеки
	- name: Install dependencies
	  run: |
		python -m pip install --upgrade pip
		pip install -r requirements.txt

	# 4. Собираем EXE файл
	# --add-data "файл;." означает "взять файл и положить в корень внутри exe"
	# --icon "icon.ico" ставит иконку самому файлу приложения
	- name: Build EXE with PyInstaller
	  run: |
		pyinstaller --onefile --noconsole --name "agent" --add-data "icon.ico;." --add-data "logo.png;." --icon "icon.ico" agent.py

	# 5. Собираем Установщик (Setup.exe) через Inno Setup
	# Используем готовый Action
	- name: Compile Inno Setup Script
	  uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
	  with:
		path: setup_script.iss

	# 6. Загружаем готовый файл (Artifacts)
	# Ищем файлы *Setup*.exe, которые создал Inno Setup
	- name: Upload Installer
	  uses: actions/upload-artifact@v4
	  with:
		name: ExamMonitor-Installer
		path: ./*Setup*.exe
		retention-days: 5
